<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaceVision | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        .logo {
            font-weight: bold;
            font-size: 24px;
            color: white;
        }
        select {
            padding: 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            color: gray; /* Grayed-out color for placeholder text */
        }
        select option:first-child {
            display: none;
        }
        select:focus {
            color: black;
        }
        .btn{
            margin-left: 15px;
            margin-right: 15px;
        }
    </style>
</head>

<body style="font-family: 'Montserrat', sans-serif; background-color: #1f2641">

    <div>
        <nav class="navbar navbar-expand-lg mb-2" data-bs-theme="dark" style="background-color: #363f5f;">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="/">FaceVision</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/role_home">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/collect">Attendance</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/student_dashboard" target="blank">Dashboard</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/contact_us">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="container my-3 my-sm-5 text-white">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Address:</h4>
                <address>
                    <strong>Thadomal Shahani Engineering College,</strong><br />
                    Advocate Nari Gursahani Marg, TPS III,<br />
                    Bandra(W), Mumbai-400050<br />
                    <br>
                    <p>Phone:
                       <abbr title="Telephone"><a href="tel:+919969736699">+91-9912323443</a></abbr>
                       <br>
                       Email:
                       <abbr title="Mail"><a href="mailto:facevisionct@gmail.com">facevisionct@gmail.com</a></abbr>
                    </p>
                </address>
                <br>
                <h4>Find us on maps:</h4>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.9834630705877!2d72.83327990951126!3d19.06446468206323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c91130392c07%3A0x3c47bf391c8de931!2sThadomal%20Shahani%20Engineering%20College!5e0!3m2!1sen!2sin!4v1714139644956!5m2!1sen!2sin" 
                    width="500" height="270" frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <h4>Send us a message</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" class="form-control" placeholder="" required />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="example@email.com" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="telephone">Contact Number</label>
                                <input type="tel" id="telephone" class="form-control" placeholder="" required />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label for="select">Department:</label>
                                <select id="select" class="form-control" aria-describedby="select-helpBlock" required>
                                    <option value="">- select here -</option>
                                    <option value="business">CS</option>
                                    <option value="Sale">IT</option>
                                    <option value="Support">AIDS</option>
                                </select>
                                <small id="select-helpBlock" class="form-text">Please select the recipient of your message.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea">Message:</label>
                        <textarea id="textarea" class="form-control" rows="5" placeholder="Write your message here" required></textarea>
                        <br>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-info">
                            <a style="text-decoration: none; color: white;">Submit</a>
                        </button>
                        <button type="reset" class="btn btn-outline-info">
                            <a style="text-decoration: none; color: white;">Reset</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    
</body>
</html>
