<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaceVision | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        .logo {
            font-weight: bold;
            font-size: 24px;
            color: white;
        }
        .welcome {
            color: white;
            font-size: 18px;
            margin-right: 40px;
        }
    </style>
</head>
<body style="font-family: 'Montserrat', sans-serif; background-color: #1f2641">

    <div>
        <nav class="navbar navbar-expand-lg mb-2" data-bs-theme="dark" style="background-color: #363f5f;">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="/">FaceVision</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/role_home">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/collect">Attendance</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/student_dashboard" target="blank">Dashboard</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/contact_us">Contact</a>
                        </li>
                    </ul>
                    <div class="ms-auto">
                        <button class="btn btn-outline-info" type="submit">
                            <a style="text-decoration: none; color: white;" href="/login_page">Login</a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text-center mt-3 welcome">
                    <p class="text-white" style="font-size: 3rem;">FaceVisison</p>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center mt-5 welcome">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Welcome to FaceVision - Your Ultimate Attendance Tracking Solution!</h4>
                        <hr>
                        <p>At FaceVision, we revolutionize the traditional approach to attendance tracking by leveraging cutting-edge face recognition technology. Say goodbye to cumbersome manual attendance registers and hello to seamless, accurate, and efficient attendance management.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center mt-4">
                    <img src="../static/images/index_gif.gif" alt="Your GIF" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous">
    </script>

</body>
</html>
